<!DOCTYPE html>

<html>

<head>

    <title>
        {{ gate_pass.gp_number }}
    </title>

    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
        rel="stylesheet"
    >

</head>

<body class="p-4">

<div class="text-center">

    <img
        src="{{ url_for('static', filename='images/ongc_logo.png') }}"
        width="120"
    >

    <h3>
        OIL AND NATURAL GAS CORPORATION LTD.
    </h3>

    <h5>
        MATERIAL E-PASS
    </h5>

</div>

<hr>

<div class="row">

    <div class="col-6">

        <p><b>Gate Pass No:</b> {{ gate_pass.gp_number }}</p>

        <p><b>Date:</b> {{ gate_pass.gatepass_date }}</p>

        <p><b>Location:</b> {{ gate_pass.location }}</p>

        <p><b>Dispatched From:</b> {{ gate_pass.dispatched_from }}</p>

        <p><b>Dispatched To:</b> {{ gate_pass.dispatched_to }}</p>

    </div>

    <div class="col-6">

        <p><b>Vehicle:</b> {{ gate_pass.vehicle_number }}</p>

        <p><b>Receiver:</b> {{ gate_pass.receiver_name }}</p>

        <p><b>CPF:</b> {{ gate_pass.receiver_cpf }}</p>

        <p><b>Status:</b> {{ gate_pass.status }}</p>

    </div>

</div>

<hr>

<h5>
Item Details
</h5>

<table class="table table-bordered">

<thead>

<tr>

<th>Item</th>

<th>Description</th>

<th>Asset</th>

<th>Qty</th>

<th>Remarks</th>

</tr>

</thead>

<tbody>

{% for item in items %}

<tr>

<td>{{ item.item_no }}</td>

<td>{{ item.material_description }}</td>

<td>{{ item.asset_serial_no }}</td>

<td>{{ item.qty }}</td>

<td>{{ item.remarks }}</td>

</tr>

{% endfor %}

</tbody>

</table>

<hr>

<div class="row">

<div class="col-6">

<b>
Created By
</b>

<br>

{{ gate_pass.created_by_name }}

</div>

<div class="col-6 text-end">

<b>
Approved By
</b>

<br>

{% if gate_pass.status=="APPROVED" %}

{{ admin_name }}

{% else %}

-

{% endif %}

</div>

</div>

<script>

window.onload = function(){

    window.print();

}

</script>

</body>

</html>